
<%= image_tag @profile.image %>
<h2>User name <%= @profile.username %></h2>
<h2> Number of post  <%= @profile.post_count %></h2>
<h2> Follower count  <%= @profile.follower_count %></h2>
<h2> Followers count <%= @profile.following_count %></h2>

<h2> @likes: <%= @likes %></h2>