
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= image_tag @superuser.image %>
      <h2>User name <%= @superuser.username %></h2>
      <h2> Number of post  <%= @superuser.post_count %></h2>
      <h2> Follower count  <%= @superuser.follower_count %></h2>
      <h2> Followers count <%= @superuser.following_count %></h2>
      <h2> Engagement rate <%= @superuser.engagement_rate.to_s.first(4) %> %</h2>
    </div>
    <div class="col-xs-12 col-md-6">

    </div>
  </div>
</div>
