  <div class="text-center"> <%= render 'flashes' %></div>

<div class="text-center">
  <h1>Super battle</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <%= @superuser.image %>
      <p>User name <%= @superuser.insta_username %></p>
      <p> Number of post  <%= @superuser.number_of_posts %></p>
      <p> Follower count  <%= @superuser.followers_count %></p>
      <p> Following count <%= @superuser.following_count %></p>
      <p> Engagement rate <%= @superuser.engagement_rate %> %</p>
      <p> Description length <%= @superuser.description.length %> characters</p>
      <p> Super score <%= @superuser.super_score %> /100</p>
    </div>



    <div class="col-xs-12 col-md-6">
         <%= @usercmp.image %>
      <p>User name <%= @usercmp.insta_username %></p>
      <p> Number of post  <%= @usercmp.number_of_posts %></p>
      <p> Follower count  <%= @usercmp.followers_count %></p>
      <p> Following count <%= @usercmp.following_count %></p>
      <p> Engagement rate <%= @usercmp.engagement_rate %> %</p>
      <p> Description length <%= @usercmp.description.length %> characters</p>
      <p> Super score <%= @usercmp.super_score %> /100</p>
    </div>

  </div>
</div>
